.text-primary {
  color: #D7D8D9 !important;
}

.text-secondary {
  color: #5757FF !important;
}

.bg-primary {
  color: #5757FF !important;
}

.bg-secondary {
  background-color: #0C0C0C !important;
}

.btn-primary {
  color: #D7D8D9 !important;
  background-color: #5757FF !important;
  border-radius: 16px;
  font-weight: bold;
}

.btn-primary:hover {
background-color: #7878FF !important;
border-color: #D7D8D9;
}

.btn-secondary {
  color: #D7D8D9;
  border-color: #D7D8D9;
  background-color: #0C0C0C;
  border-radius: 16px !important;
  font-weight: bold;
}

.btn-secondary:hover {
  background-color: #0C0C0C !important;
  border-color: #D7D8D9;
  text-decoration: underline ;
}

.dropdown-menu-dark {
  background-color: #0C0C0C;
  border-color: #D7D8D9;
}

.nav-link:hover {
  text-decoration: underline;
}

.dropdown-item:hover {
  text-decoration: underline;
}

* {
  font-family: Manrope !important;
  color: #D7D8D9 !important;
  /*background-color: #0C0C0C;*/
}

.dropdown-toggle::after {
content: url('svg/Icon\ material-keyboard-arrow-right.svg');
border: 0;
}
